# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/api/node_modules
/web/node_modules
/.pnp
.pnp.js
/web/.angular

# testing
web/coverage

# production
web/build
/api/dist

# Api
/api/.env

# misc
.DS_Store
docker.env
