.report-list {
  display: flex;
  flex-flow: row wrap;
  padding-left: 10px;
  padding-right: 10px;
}
.report-card {
  padding-right: 15px;
  padding-top: 10px;
}
.empty-report-list {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
