<p>
    Reporte Creado por {{report.createdBy.name}}
</p>
<p>
    <h2>
        Reporte creado en el area de {{report.type}}
    </h2>
</p>
<p>
    <a href="http://app.icggranada.com">Ir a la aplicación</a>
</p>