mat-card {
  height: calc(100vh - 100px);
}
.report-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .report-fields {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .report-text {
    angular-editor {
      min-height: 250px;
    }
  }
}
